@import "icon-font"
@import "variables"

/**************************************************
    GENERAL STYLES
/**************************************************/
body
  overflow-x: hidden

.container-fluid
  font-family : 'Lato'
  min-height: 100%
  display: table
  width: 100%

.main-part
  width: 100%
  display: table-cell
  vertical-align: middle

/**************************************************
  BLACK MASK
/**************************************************/
.container-fluid::before
  content: ''
  z-index: 10
  display: block
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: rgba(0,0,0,0.8)


/**************************************************
  HEADER
/**************************************************/
header
  position: relative
  z-index: 20
  font-size: 1em
  img
    margin: 0
    padding: 8% 0
  h2
    color: $white
    font-size: 2.5em
    text-shadow: 1px 1px 0 $black
    line-height: 1.7em
    font-weight: 300
    letter-spacing: 2px

/**************************************************
  TIMER
/**************************************************/

.timer
  position: relative
  z-index: 20
  padding: 7% 0
  .countdown-section
    display: block
    padding: 15px 0
    .countdown-amount
      display: block
      font-size: $timer-font-size
      color: $main-color
      font-weight: 700
    .countdown-period
      font-size: 2.2em
      color: $white
  .countdown-section:not(:last-child)
    border-right: 1px solid $white-half-opacity


/**************************************************
  WRAPPER WITH FORM
/**************************************************/

.subscribe-wrap
  position: relative
  z-index: 20
  p
    font-size: 1.8em
    text-shadow: 1px 1px 0 $black
    color: $white
  .form-part
    padding-top: 5%
    margin: auto
    width: 100%
    .email
      border: none
      width: 60%
      position: relative
      border-radius: 5px 0 0 5px
      font-size: 1.4em
      height: 60px
      padding: 0 26px
    span
      line-height: 20px
      button
        font-size: 1.3em
        white-space: nowrap
        width: 40%
        margin: 0
        height: 60px
        padding: 0 26px
        border-radius: 0 5px 5px 0
        background: $main-color
        border: none
        color: $white
        transition: 0.3s
      button:hover
        background: $dark-blue
        border: none

/**************************************************
  SOCIAL LINKS
/**************************************************/

.social-links
  z-index: 20
  position: relative
  margin: 5% auto
  a
    display: inline-block
    border: 3px solid $white
    border-radius: 50%
    margin: 0 10px 10px
    width: 60px
    height: 60px
    line-height: 55px
    font-size: $icons-font-size
    span
      color: $white
    .icon-linkedin:before
      font-size: 35px
  a:hover
    text-decoration: none
    transform: rotate(360deg)
    transition: all 0.3s
    background-color: $white
    span
      color: $main-color

/**************************************************
  PLAYER
/**************************************************/

.player
  position: absolute
  bottom: 20px
  right: 20px
  z-index: 20
  span
    color: $white
    font-size: $icons-font-size
  .icon-pause
    font-size: 17px
  li
    cursor: pointer

/**************************************************
    MEDIA QUERIES
/**************************************************/

@media screen and (max-width :   991px)
  #tubular-container, #tubular-shield
    display: none
  .container-fluid
    background: url("../images/background-forest.png") center

@media screen and (max-width : 768px)
  .container-fluid
    font-size: 10px
  .social-links
    a
      margin: 0
      width: 50px
      height: 50px
      line-height: 50px
      font-size: 1.8em
